

<h2>Meet our team</h2>


<form action="/friends" method="get">
  <input type="text" name="name" placeholder="Who are you looking for?">
  <input type="text" name="age" placeholder="Who are you looking for?">
  <input type="submit">
</form>


<ol>
  <% @members.each do |member| %>
    <li><%= member.capitalize %></li>

  <% end %>
</ol>


<%= link_to "Know more about us", about_path %>



